[contenteditable='true'] {
  padding: 0.5rem;

  &:focus {
    outline: 1px solid lightgray;
  }
}

.toolbar {
  position: absolute;
  display: flex;
  flex-flow: row;
}

.bold {
  font-weight: bold;
}
